flask == 2.2.3
flask-sqlalchemy == 3.0.3
mysql-connector
mysql-connector-python
Flask-SQLAlchemy
pymysql
cryptography
requests==2.21.0
oauthlib==3.0.1
python-dotenv
authlib
uuid
flask_api
flask-mail
flask_restful
pyopenssl == 23.1.0
flask-cors
cloudinary
stripe

